
.azeret-mono-normal {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ------------nav style---------------- */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title{
    font-size: 28px;
    font-weight: 800;
}

.nav-btn{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    width: 244px;
    height: 57px;
    border: 1px solid #0D1321;
    background-color: white;
    border-radius: 8px;
    padding: 17px 24px;
    cursor: pointer;
}

/* ------------Banner style---------------- */

.banner{
    background-image: url(../assets/Hero-bg.png);
    height: 80vh;
    text-align: center;
}

.banner-img{
    width: 240px;
}

.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin: 32px auto;
}

.banner-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto;
}

.banner-btn{
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    border: none;
    margin: 45px auto;
    cursor: pointer;
}

.banner-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* ------------Why Web Development Section style---------------- */
main{
    width: 90%;
    margin: 0 auto;
}

.container{
    background-color: #f3f5ffd5;
    margin: 74px 150px 90px 150px;

}

.container-header{
    padding: 80px 144px 40px 144px ;
}

.container-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
}

.container-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    text-align: center;
}

.contant{
    display: flex;
}

.contant-item{
    width: 70%;
    border: 1px solid black;
}

.contant-img{
    border: 1px solid black;
}
